## Homework#1-2
This is a second part of assignment #1. In this assignment, you are going to practice using `pandas` to learn about data. Please note that this assignment is not challenging and may not contain work from the demonstration file but carries extra work we may require to do in data preprocessing. 

Due Date: 9/16/2020 11:59 PM

### Problem 1
In this question, we will use the csv file **Temp.csv**. 
- Read it into a data frame, call it `Temp`. (Import the packages you think you need).

In [641]:
import pandas as pd
import statistics
import numpy as np

In [642]:
Temp = pd.read_csv("Temp.csv")

In [643]:
Temp

         City        State  Temperature
0         NYC     New York           67
1      Albany     New York           49
2     Buffalo     New York           38
3    Hartford  Connecticut           63
4  Bridgeport  Connecticut           58
5      Treton   New Jersey           72
6      Newark   New Jersey           68

- We learned that the temperature at New Haven, Connecticut is currently 58 degree fahrenheit. Add this information into the DataFrame.

In [644]:
row = {'City': "New Haven", 'State': "Connecticut", 'Temperature': 58} 
Temp = Temp.append(row, ignore_index = "True")

- Replace the names of the states by their abbreviations. That is 
    - Connecticut --> CT
    - New Jersey  --> NJ
    - New York    --> NY

In [645]:
for i in range(len(Temp['State'])):
    if Temp['State'][i] == "New York":
        Temp['State'][i] = "NY"
    if Temp['State'][i] == 'Connecticut':
        Temp['State'][i] = "CT"
    if Temp['State'][i] == 'New Jersey':
        Temp['State'][i] = "NJ"
        
Temp

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

         City State  Temperature
0         NYC    NY           67
1      Albany    NY           49
2     Buffalo    NY           38
3    Hartford    CT           63
4  Bridgeport    CT           58
5      Treton    NJ           72
6      Newark    NJ           68
7   New Haven    CT           58

- Select the rows in New York.

In [646]:
Temp.loc[Temp['State'] == "NY"]

      City State  Temperature
0      NYC    NY           67
1   Albany    NY           49
2  Buffalo    NY           38

- What is the average of the temperature of cities in NY?

In [647]:
sum = 0
for i in Temp.loc[Temp['State'] == "NY"]['Temperature']:
    sum += i
print(sum/len(Temp.loc[Temp['State'] == "NY"]['Temperature']))

51.333333333333336

- Find the mean and the standard deviation of the temperature of each state.

In [648]:
def getTemp(state, df): #returns list of temperatures
    arr = []
    for i in df.loc[df['State'] == state]['Temperature']:
        arr += [i]
    return arr

def answer(df, state):
    x = getTemp(state, df)
    print("The mean Temperature of " + state + " is " + str(statistics.mean(x)) + ", and the Standard Deviation is " + str(statistics.stdev(x))+".")

In [649]:
answer(Temp, "NY")
answer(Temp, "NJ")
answer(Temp, "CT")

The mean Temperature of NY is 51.333333333333336, and the Standard Deviation is 14.6401275039985.
The mean Temperature of NJ is 70, and the Standard Deviation is 2.8284271247461903.
The mean Temperature of CT is 59.666666666666664, and the Standard Deviation is 2.8867513459481287.

- We know the capital of each state: 
    - Connecticut --> Hartford
    - New Jersey  --> Treton
    - New York    --> Albany
    
    Create a data frame, `Capital`, with two columns: State and Capital, which should look like:
    
|| State| Capital|
| :-: |:---: | :---:|
| 0| CT  | Hartford|
| 1| NJ | Treton|
| 2| NY| Albany|

In [650]:
data = {'State': ['CT', 'NJ', 'NY'], 'Capital': ['Hartford', 'Treton', 'Albany']}
Capital = pd.DataFrame(data)
Capital

  State   Capital
0    CT  Hartford
1    NJ    Treton
2    NY    Albany

- Mutate a new boolean column, `Capital`, to `Temp`, which is `True` if the city in the row is the capital of the state, else `False`.

In [651]:
lst = []
for x in range(len(Temp["State"])):
    lst += [False]
Temp.insert(3,"Capital", lst, True) 
reference = {}
for s,c in Capital.iterrows():
    reference[c["State"]] = c["Capital"]

In [652]:
for i,v in Temp.iterrows(): #error check the dict statement
    if reference[v["State"]] == v["City"]:
        Temp["Capital"][i] = True

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [653]:
Temp

         City State  Temperature  Capital
0         NYC    NY           67    False
1      Albany    NY           49     True
2     Buffalo    NY           38    False
3    Hartford    CT           63     True
4  Bridgeport    CT           58    False
5      Treton    NJ           72     True
6      Newark    NJ           68    False
7   New Haven    CT           58    False

### Problem 2

- a. Load the Gross Domestic Product data for the 190 ranked countries in the file **GDP.csv**. Load **Country.csv** into a DataFrame. 
- b. Match the data based on the country shortcode. How many of the IDs match? 
- c. Sort the data frame in descending order by GDP rank. What is the 13th country in the resulting data frame? (Note: GDP formats as 123,456,789.)
- d. What is the average GDP for the "High income: OECD" and "High income: nonOECD" group?
- e. What is the average GDP for different income groups and regions?

In [664]:
gdp = pd.read_csv("GDP.csv", encoding = "ISO-8859-1", skiprows = 3, usecols = [0,1,3,4],names=['CountryCode','Ranking','Economy','Millions of US Dollars'])
gdp = gdp.head(190)
country = pd.read_csv("Country.csv", encoding = "ISO-8859-1")

In [665]:
df = pd.merge(gdp, country, on = 'CountryCode')
matched = len(df)
print(str(matched) + " of the IDs matched.")

189 of the IDs matched.

In [666]:
d_df = df.sort_index(ascending = False).reset_index(drop = True)
thirteenth = d_df.head(13).iloc[-1]['Economy']
print("The 13th country resulting in the decending order by GDP rank is: " + str(thirteenth) + ".")

The 13th country resulting in the decending order by GDP rank is: Grenada.

In [667]:
oecd = d_df.loc[d_df['Income Group'] == "High income: OECD"]['Millions of US Dollars']
sum = 0
for i in oecd:
    sum += int(i.replace(',' , ''))
avg_OECD = sum/len(oecd)
print("The average GDP for High Income: OECD is " + str(avg_OECD))

The average GDP for High Income: OECD is 1483917.1333333333

In [668]:
noecd = d_df.loc[d_df['Income Group'] == "High income: nonOECD"]['Millions of US Dollars']
sum = 0
x = 0
for i in noecd:
    try:
        sum += int(i.replace(',' , ''))
        x += 1
    except:
        x += 0
avg_NOECD = sum/len(noecd)
print("The average GDP for High Income: nonOECD is " + str(avg_NOECD))

The average GDP for High Income: nonOECD is 104349.82608695653

In [669]:
df['Millions of US Dollars'] = df['Millions of US Dollars'].str.replace(',','').astype(float)
df = df.groupby(["Income Group","Region"]).agg({'Millions of US Dollars':'mean'})
df

                                                 Millions of US Dollars
Income Group         Region
High income: OECD    East Asia & Pacific                   2.197268e+06
                     Europe & Central Asia                 7.567044e+05
                     Middle East & North Africa            2.582170e+05
                     North America                         9.033012e+06
High income: nonOECD East Asia & Pacific                   1.496240e+05
                     Europe & Central Asia                 2.776660e+04
                     Latin America & Caribbean             2.795480e+04
                     Middle East & North Africa            2.142531e+05
                     North America                         5.474000e+03
                     Sub-Saharan Africa                    1.769700e+04
Low income           East Asia & Pacific                   8.154667e+03
                     Europe & Central Asia                 6.723500e+03
                     Latin America & Caribbean             7.843000e+03
                     South Asia                            5.193833e+04
                     Sub-Saharan Africa                    1.184393e+04
Lower middle income  East Asia & Pacific                   6.604665e+05
                     Europe & Central Asia                 4.314029e+04
                     Latin America & Caribbean             2.710667e+04
                     Middle East & North Africa            1.078699e+05
                     South Asia                            4.260556e+05
                     Sub-Saharan Africa                    4.741100e+04
Upper middle income  East Asia & Pacific                   1.030563e+05
                     Europe & Central Asia                 2.696185e+05
                     Latin America & Caribbean             2.707134e+05
                     Middle East & North Africa            2.542647e+05
                     Sub-Saharan Africa                    7.364683e+04